recursive-include mediagoblin/i18n *.po
recursive-include mediagoblin *.js *.css *.png *.svg *.ico
recursive-include mediagoblin *.ini
recursive-include mediagoblin *.html *.txt
recursive-include docs *.rst *.html
include mediagoblin.example.ini mediagoblin/config_spec.ini paste.ini
include mediagoblin/config_spec.ini
include mediagoblin/db/migrations/alembic.ini
graft extlib
graft licenses
graft devtools
graft mediagoblin/tests/test_submission
include COPYING AUTHORS
include lazyserver.sh lazystarter.sh lazycelery.sh runtests.sh
include configure.ac configure install-sh
include Makefile.in
include bower.json
include mediagoblin/static/metadata/rdfa11.jsonld
